{% extends 'homework_03/orders_base.html' %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
<h2> {{ title }} </h2>
<p><a class="btn btn-primary" role="button" href="{% url 'product_create'%}">Добавить товар</a></p>
<table class="table">
    <tr>
        {% for column in columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="{% url 'product_full' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.count }}</td>
        <td>{{ product.date_added }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
