{% extends 'orders_base.html' %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
<h2> {{ title }} </h2>
<p>Показать заказанные товары за последние:</p>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="{% url 'ordered_products' client_id %}">Все</a></li>
    <li class="list-group-item"><a href="{% url 'ordered_products' client_id 7 %}">7 дней</a></li>
    <li class="list-group-item"><a href="{% url 'ordered_products' client_id 30 %}">30 дней</a></li>
    <li class="list-group-item"><a href="{% url 'ordered_products' client_id 365 %}">365 дней</a></li>
</ul>
<table class="table">
    <tr>
        {% for column in columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for client_product in client_products %}
    <tr>
        <td><a href='{% url "product_full" client_product.product.id  %}'>{{ client_product.product.name }}</a></td>
        <td>{{ client_product.count }}</td>
        <td>{{ client_product.total_price }}</td>
        <td>{{ client_product.date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
