{% extends 'orders_base.html' %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
<h2> {{ title }} </h2>
<p>Показать заказы товара за последние:</p>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="{% url 'product_orders' product_id %}">Все</a></li>
    <li class="list-group-item"><a href="{% url 'product_orders_days' product_id 7 %}">7 дней</a></li>
    <li class="list-group-item"><a href="{% url 'product_orders_days' product_id 30 %}">30 дней</a></li>
    <li class="list-group-item"><a href="{% url 'product_orders_days' product_id 365 %}">365 дней</a></li>
</ul>
<table class="table">
    <tr>
        {% for column in columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for order in orders %}
    <tr>
        <td> {{ order.id }}</td>
        <td><a href="{% url 'client_full' order.client.id %}"> {{ order.client.name }} </a></td>
        <td> {{ order.products_print }}</td>
        <td> {{ order.total_price }}</td>
        <td> {{ order.order_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
