{% extends 'homework_03/orders_base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<form action="" method="post">
    <a class="btn btn-primary" role="button" href="{% url 'order_create_product_add'%}"> Добавить товар в
        корзину </a></p>
    <a class="btn btn-danger" role="button" href="{% url 'order_create_all_products_delete'%}" onclick="return confirm('Вы уверены?')"> Очистить корзину </a></p>

    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Создать">
</form>
{% endblock %}